.doctor-extra-infor-container{
    padding-left: 15px;


    .content-up{
        margin-bottom: 10px;
        .text-address{
        color: #333;
        text-transform: uppercase;
        }
        .name-clinic{
        padding: 5px 0;
        font-weight: 600;
        color: #333;
        }
        .detail-address{
        color: #333;
        font-weight: 600;
        }
    }
    .content-down{
        .short-infor{
            text-transform: uppercase;
            .currency{
                width: 90px;
                outline: none;
                border: none;
                cursor: pointer;
                margin-left: 5px;
            }
            span{
                margin-left: 5px;
                cursor: pointer;
                color: #589cf0; 
            }
        }
        .detail-infor{
            background-color: rgba(248, 248, 248, 1.00);
            border: 1px solid #ddd;
            padding: 5px;

            .price{
                padding-bottom: 5px;
                .left{
                text-transform: uppercase;
                }
                .right{
                    float: right;
                    .currency{
                        width: 90px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        margin-left: 5px;
                        background-color: rgba(248, 248, 248, 1.00);

                    }
                }
                .note{

                }
            }
         
            
        }
        .payment{
            background-color: rgba(238, 238, 238, 1.00);
            border: 1px solid #ddd;
            padding: 5px;
        }
        .hide-price{
            margin-top: 10px;
            span{
                text-transform: uppercase;
                cursor: pointer;
                color: #589cf0;
            }
        }

    }
   
}